/** 
  *  css file to handle "events list" styling
  *  Author: Sai Saran Kandimalla
  *  Date: 09/23/2019 
  *  User Story: 30
*/

.rt-events-card {
    margin: 25px;
    min-height: 450px;
}

.rt-events-card ul {
    list-style: none;
    padding: 10px;
}

.rt-events-header {
    float: left;
    padding: 10px 10px 0px 10px;
}

.rt-event-type-dropdown {
    padding: 10px 30px 10px 10px;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.rt-event-list-item-text {
    padding: 15px;
    font-size: 14px;
}

.rt-event-register-button {
    margin: 15px !important;
    font-size: 14px !important;
    text-transform: none !important;
}

.carousel-rt {
    min-height: 400px !important;
    max-height: 400px !important;
}


.rt-carousel-img-1 {
    background-image: url("../../../src/images/slide_1.jpg");
    background-size: cover;
    min-height: 400px !important;
    max-height : 400px !important;
}

.rt-carousel-img-2 {
    background-image: url("../../../src/images/slide_2.jpg");
    background-size: cover;
    min-height: 400px !important;
    max-height : 400px !important;
}